{
  "root": true,
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended-type-checked"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["prettier", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "ignorePatterns": ["node_modules/", "dist/"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars" : "all",
        "args": "none"
      }
    ],
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-member-access": "off"
  }
}